body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
*  List container
*/

.rs-listbox {
  display: inline-block;
  position: relative;
}

.rs-listbox * {
  box-sizing: border-box;
}

/*
* Button
*/

.rsl__button {
  display: block;
  width: 100%;
  padding: 8px 6px;
  border-radius: 0;
  border: 1px solid #ccc;
  background: #eee;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  min-width: 200px;
  padding-right: 10px;
  position: relative;
}

.rsl__button__icon {
  font-size: 20px;
  position: absolute;
  right: 5px;
  top: 45%;
  transform: translateY(-50%);
}

/*
*  List
*/

.rsl__list {
  visibility: hidden;
  height: 0;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.rsl__list--open {
  visibility: visible;
  height: auto;
}

/*
* Option
*/

.art-select__option {
  padding: 12px 6px;
  cursor: pointer;
  /* transition: all 100ms linear; */
  border-bottom: 1px solid #eee;
}

.art-select__option:hover {
  background: rgb(101, 101, 236);
  color: white;
}

.art-select__option--selected {
  font-weight: bold;
}

.art-select__option--selected:hover {
  background: rgb(101, 101, 236);
  color: white;
}

.art-select__option--focused,
.art-select__option--focused.art-select__option--selected {
  background: rgb(101, 101, 236);
  color: white;
}
